body {
    background-image: url('../img/image.jpg');
}

.note {
    background-color: lemonchiffon;
    border: 5px solid darkgray;
    box-shadow: 5px 5px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
}

#notes-container .note {
    max-width: 250px;
}

#notes-container {
    background-color: rgba(255, 255, 255, .6);
    width: 80%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-left: 10%;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    border: 5px solid darkcyan;
    box-shadow: 10px 10px 15px black;
}

#notes-container>* {
    display: inline-block;
    margin-right: 5px;
}

#notes-container .note-user {
    font-size: 6pt;
    display: inline-block;
}

#notes-container .note-user img {
    max-width: 64px;
    max-height: 64px;
    size: auto;
}

.note-right {
    display: inline-block;
    vertical-align: top;
}

#is-js-loading {
    width: 100px;
    color: red;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#notes-container .note-titre {
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
}

.img-close img,
legend img {
    width: 15px;
    height: 15px;
}

.img-close {
    text-align: right;
    margin-bottom: -10px;
}

.note-right {
    margin-right: 15px;
}


/* map */

#left-form,
#right-form {
    display: inline-block;
}

#right-form {
    width: 200px;
    vertical-align: top;
}


/* formulaire */

#form-buttons {
    text-align: center
}

#edit-note,
#edit-note textarea {
    margin-left: auto;
    margin-right: auto;
}

#edit-note textarea {
    max-width: 100%;
}

#input-date {
    display: inline;
    width: 55%;
}

#input-time {
    display: inline;
    width: 35%;
}

.invalid-input {
    background-color: red;
}

#toggle-form-edit-note {
    text-align: right;
    margin-bottom: -20px;
}

#toggle-form-edit-note img {
    height: 15px;
    width: 15px;
}

#edit-note #form-legend {
    margin-right: 20px;
}